// @import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.compact.less';
// @import '~antd/dist/antd.dark.less';
@import '~antd/dist/antd.less'; // Import Ant Design styles by less entry
// @import './theme.less'; // variables to override above

* {
margin: 0;
padding: 0;
outline: 0;
box-sizing: border-box;
}

*:focus {
outline: 0;
}

html, body, #root {
height: 100%;
}

body {
-webkit-font-smoothing: antialiased;
}
